<!doctype html>
<html lang="en">
    <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %} « BaconGameJam</title>
        {% block head %}{% endblock %}
    </head>
    <body>
		
		<nav class="navbar navbar-bgj navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>                        
					</button>
					<a class="navbar-brand" href="{{ url_for('home') }}">
						<img alt="BaconGameJam" src="{{ url_for('static', filename = 'gfx/logo.png') }}"></img>
					</a>
				</div>

				<div class="collapse navbar-collapse" id="myNavbar">
					<form class="navbar-form navbar-center" role="search" action="{{ url_for('search') }}">
						<div class="form-group">
							<input type="text" class="text search form-control" placeholder="Search jams, games, users, ..." name="q">
						</div>
						<button type="submit" class="btn btn-default"><span class="fa fa-search" aria-hidden="true"></span></button>
					</form>
					
					<ul class="nav navbar-nav navbar-right">
					
						{% if current_user.is_anonymous %}
						<li><a href="{{ url_for('login') }}" class="btn btn-login">LOGIN</a></li>
						<li><a href="{{ url_for('login') }}" class="btn btn-register">REGISTER</a></li>
						{% else %}
						{% if current_user.invitiation %}
						<li><a href="{{ url_for('invitations') }}" class="btn btn-small">{{ current_user.invitation | length }} <i class="icon-envelope"></i></a></li>
						{% endif %}
						<li><a href="{{ url_for('profile') }}" class="btn btn-small" id="account"></li>
						<li><img class="avatar" src="{{ current_user.get_avatar(16) }}" width="16" height="16" /></li>
						{{ current_user.username }}
						</a>
						<li><a class="btn btn-small" href="{{ url_for('logout') }}"><i class="icon-off"></i></a></li>
						{% endif %}
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
		
        <div id="navigation">
            <div class="container">
				<div class="row">
					<div class="col-md-5 align-left">
						{% block menu %}
							{% if current_jam %}
								{% if current_jam.get_status().code <= 1 %}
									Next jam is
									<b>{{ current_jam.get_link() }}</b>
									{{ current_jam.start_time | humantime }}
								{% elif current_jam.get_status().code == 2 %}
									Currently running jam is
									<b>{{ current_jam.get_link() }}</b>
									ending {{ current_jam.end_time | humantime }}
								{% else %}
									<b>{{ current_jam.get_link() }}</b>
									has finished
								{% endif %}
							{% endif %}
						{% endblock %}
					</div>
					<div class="col-md-2">
						{% block  center %}
						{% endblock %}
					</div>
					<div class="col-md-5 align-right">
						<a class="btn" href="{{ url_for('jams') }}">Jams</a>
						<a class="btn" href="{{ url_for('rules') }}">Rules</a>
						<a class="btn" href="{{ url_for('faq') }}">Help</a>
						<a class="btn" href="{{ url_for('subreddit') }}">r/bacongamejam</a>
						<a class="btn" href="{{ url_for('contact') }}#irc">IRC</a>
						<a class="btn" href="{{ url_for('statistics') }}">Stats</a>
						<a class="btn" href="{{ url_for('map') }}">Map</a>
					</div>
				</div>
            </div>
        </div>
        <div id="content" class="container">
            {% for category, message in get_flashed_messages(with_categories = True) %}
                <div class="alert alert-{{ category if category and category != 'message' else 'info' }}">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}

            {% block content %}
                 NO CONTENT!
            {% endblock %}
        </div>
        <div id="footer">
            {% include "footer.html" %}
        </div>
		
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesimple.css') }}">
		<!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/button.css') }}">-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.lightbox-0.5.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
        <!--<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>-->
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.0.0.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.lightbox-0.5.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/countdown.js') }}"></script>

        <link rel="icon" href="{{ url_for('static', filename='gfx/favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for('static', filename='gfx/favicon.png') }}" type="image/png">

        <script type="text/javascript" lang="javascript">
            $(document).ready(function() {
                $('ul.screenshots li a.screenshot, a.rating-details-screenshot').lightBox({
                    imageLoading: "{{ url_for('static', filename = 'gfx/lightbox-ico-loading.gif') }}",
                    imageBtnClose: "{{ url_for('static', filename = 'gfx/lightbox-btn-close.gif') }}",
                    imageBtnPrev: "{{ url_for('static', filename = 'gfx/lightbox-btn-prev.gif') }}",
                    imageBtnNext: "{{ url_for('static', filename = 'gfx/lightbox-btn-next.gif') }}",
                    imageBlank: "{{ url_for('static', filename = 'gfx/lightbox-blank.gif') }}",
                    txtImage: "Screenshot",
                    fixedNavigation: true
                });
            });
        </script>
    </body>
</html>
