<!doctype html>
<html lang="en">
    <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %} « BaconGameJam</title>
        {% block head %}{% endblock %}
    </head>
    <body>
		
		<nav class="titlebar titlebar-bgj">
			<div class="container">
				<div class="navbar-header">
				
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<i class="fa fa-bars" aria-hidden="true"></i>                     
					</button>
					
					<a class="navbar-brand titlebar-padding" href="{{ url_for('home') }}">
						<img alt="BaconGameJam" src="{{ url_for('static', filename = 'gfx/logo.png') }}"></img>
					</a>
				
					<div class="navbar-left titlebar-padding">
						{% if current_jam %}
							{% if current_jam.get_status().code <= 1 %}
								Next jam is
								<b>{{ current_jam.get_link() }}</b>
								{{ current_jam.start_time | humantime }}
							{% elif current_jam.get_status().code == 2 %}
								<b>{{ current_jam.get_link() }}</b>
								<div class="mini-countdown" time="{{ current_jam.end_time }}">
									<div class="time">ending {{ (current_jam.end_time - current_datetime) | countdowndelta }}</div>
								</div>
							{% else %}
								<b>{{ current_jam.get_link() }}</b>
								has finished
							{% endif %}
						
						{% endif %}
					</div>
					
				</div>

				<div class="">

					<ul class="nav navbar-nav navbar-right titlebar-padding">
					
						{% if current_user.is_anonymous %}
						<li><a href="{{ url_for('login') }}" class="btn btn-login">Login</a></li>
						<li><a href="{{ url_for('login') }}" class="btn btn-register">Register</a></li>
						{% else %}
						{% if current_user.invitiation %}
						<li><a href="{{ url_for('invitations') }}" class="btn btn-small">{{ current_user.invitation | length }} <i class="icon-envelope"></i></a></li>
						{% endif %}
						<li><a href="{{ url_for('profile') }}" class="btn btn-small" id="account"></li>
						<li><img class="avatar" src="{{ current_user.get_avatar(16) }}" width="16" height="16" /></li>
						{{ current_user.username }}
						</a>
						<li><a class="btn btn-small" href="{{ url_for('logout') }}"><i class="fa fa-sign-out"></i></a></li>
						{% endif %}
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
		
        <div class="navMenu">
            <div class="container">
				<div class="row">
					<div class="collapse navbar-collapse">
						<div class="navbar-left">
							<ul class="nav navbar-nav">
								<li><a class="btn" href="{{ url_for('jams') }}"><i class="fa fa-trophy"></i> Jams</a></li>
								<li><a class="btn" href="{{ url_for('rules') }}"><i class="fa fa-book"></i> Rules</a></li>
								<li><a class="btn" href="{{ url_for('faq') }}"><i class="fa fa-question"></i> Help</a></li>
								<li><a class="btn" href="{{ url_for('subreddit') }}"><i class="fa fa-reddit-alien"></i> Subreddit</a></li>
								<li><a class="btn" href="{{ url_for('contact') }}#irc"><i class="fa fa-comments"></i> IRC</a></li>
								<li><a class="btn" href="{{ url_for('statistics') }}"><i class="fa fa-bar-chart"></i> Stats</a></li>
								<li><a class="btn" href="{{ url_for('map') }}"><i class="fa fa-map"></i> Map</a></li>
								<li>
									<form class="navbar-form" action="{{ url_for('search') }}">
										<div class="left-inner-addon">
											<i class="fa fa-search"></i>
											<div class="input-group">
												<input id="searchBar" type="text" class="form-control" placeholder="Search jams, games, users, ..." name="q">
											</div>
										</div>
									</form>
								</li>
							</ul>
						</div>
					</div>
				</div>
            </div>
        </div>
        <div class="mainContent container">
            {% for category, message in get_flashed_messages(with_categories = True) %}
                <div class="alert alert-{{ category if category and category != 'message' else 'info' }}">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
			

			{% block menu %}
			
			{% endblock %}
			
            {% block content %}
                 NO CONTENT!
            {% endblock %}
        </div>
		
        <div class="footer">
			<div class="container">
            {% include "footer.html" %}
			</div>
        </div>
		
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesimple.css') }}">
		<!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/button.css') }}">-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.lightbox-0.5.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
        <!--<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>-->
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.0.0.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.lightbox-0.5.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/countdown.js') }}"></script>

        <link rel="icon" href="{{ url_for('static', filename='gfx/favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for('static', filename='gfx/favicon.png') }}" type="image/png">

        <script type="text/javascript" lang="javascript">
            $(document).ready(function() {
                $('ul.screenshots li a.screenshot, a.rating-details-screenshot').lightBox({
                    imageLoading: "{{ url_for('static', filename = 'gfx/lightbox-ico-loading.gif') }}",
                    imageBtnClose: "{{ url_for('static', filename = 'gfx/lightbox-btn-close.gif') }}",
                    imageBtnPrev: "{{ url_for('static', filename = 'gfx/lightbox-btn-prev.gif') }}",
                    imageBtnNext: "{{ url_for('static', filename = 'gfx/lightbox-btn-next.gif') }}",
                    imageBlank: "{{ url_for('static', filename = 'gfx/lightbox-blank.gif') }}",
                    txtImage: "Screenshot",
                    fixedNavigation: true
                });
            });
        </script>
    </body>
</html>
