@import url("flags.css");
@import url("bootstrap.min.css");

/*** COLORS ***/
/* Beige: 		#eccb84 */
/* Red:  		#da5f5f	*/
/* Dark Red:  	#a64848	*/
/* Link Red: 	#bc312c */
/* Grey: 		#555555 */

/*** SHADOWS ***/
/*	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);	*/


/******************************************************/
/******************** MAIN STYLES *********************/
/******************************************************/

/*** RESET ***/

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*** BASELINE STYLING ***/

body {
	position: relative;
    color: #555;
    background-color: #eccb84;
    font-family: "DejaVu Sans", Arial, sans-serif;
    margin: 0;
    padding: 0;
	padding-bottom: 200px;
	min-height: 100%;
}



a, a:visited{
    color: #bc312c;
    text-decoration: none;
}

a:hover, a:active, a:focus {
    color: #a64848;
    text-decoration: underline;
}



/*** HEADER ***/

.titlebar-bgj {
	-webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
	-moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
	background-color: #da5f5f;
	color: white;
}

.nav>li>a{
	padding: 10px !important;
}

.header-container-inner{
	height: 100%;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

/* Site logo */

.navbar-brand {
	padding: 0px;
	height: 60px;
}

.navbar-brand>img {
  height: 100% !important;
  padding: 5px;
  width: auto;
}

.navbar-brand-mobile {
	display:block;
}

.navbar-brand-desktop {
	display:none;
}

@media (min-width: 768px){
	.navbar-brand-mobile{
		display:none;
	}
	.navbar-brand-desktop {
		display:block;
	}
}

/* Navbar jam countdown */

.current-jam-info{
	float: left;
}

.navbar-countdown {
	display:none;
	height: 100%;
	flex-grow: 1;
}

@media (min-width: 992px){
	.navbar-countdown{
		display: inline-block!important;
		height: 100%;
		flex-grow: 1;
	}
}

.current-jam-clock{
	float: left;
}

.timeSubtitle{
	color: rgba(255,255,255,0.5);
	font-size: 0.5em;
}
.timeWithSubtitle{
	float: left;
	text-align: center;
	background-color: rgba(255,255,255,0.2);
	margin: 0 0.2em;
    padding: 0.4em;
}

.btn-participate, .btn-participate:visited {
	text-transform: uppercase;
	border-radius: 0px;
	background-color: #5cb85c !important;
	border: 1px solid #449d44;
	color: white;
	-webkit-transition: background-color 0.1s ease-in-out;
	-moz-transition: background-color 0.1s ease-in-out;
	transition: background-color 0.1s ease-in-out;
	padding: 10px;
}

.btn-participate:hover, .btn-participate:active, .btn-participate:focus {
	background-color: #449d44 !important;
	border: 1px solid #398439;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

/* Navbar account buttons */

.navbar-account{
	display:inherit;
	float: right !important;
}

.btn-login, .btn-login:visited {
	text-transform: uppercase;
	border-radius: 0px;
	color: white;
	border: 1px solid white;
	background-color: transparent !important;
	-webkit-transition: background-color 0.1s;
	-moz-transition: background-color 0.1s;
	transition: background-color 0.1s;
	margin-right: 1em;
}

.btn-login:hover, .btn-login:active, .btn-login:focus{
	background-color: white !important;
	color: #a64848;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

.btn-register, .btn-register:visited {
	text-transform: uppercase;
	border-radius: 0px;
	background-color: white !important;
	color: #a64848;
	-webkit-transition: background-color 0.1s;
	-moz-transition: background-color 0.1s;
	transition: background-color 0.1s;
}

.btn-register:hover, .btn-register:active, .btn-register:focus {
	color: white;
	border: 1px solid white;
	background-color: transparent !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

/*** NAVIGATION ***/

.navbar-nav>li>a {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.navbar-nav{
	margin: auto;
}

.navMenu {
	text-transform: uppercase;
	background-color: #a64848;
	color: white;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
	-moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
	margin-bottom: 20px;
}

.navMenu a {
	color: rgba(255,255,255,0.7);
}
.navMenu a:hover, .navMenu a:visited, .navMenu a:active, .navMenu a:focus {
	color: white;
	background-color: transparent !important;
	border-radius: 0px;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

.navbar-collapse {
	border: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	padding-right: 0px;
	padding-left: 0px;
}

/* Search bar */

.navbar-form {
	margin-top: 4px !important;
	margin-bottom: 0px !important;
	padding: 0px !important;
	border: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

.mobileSearch{
	display: block !important;
	padding: 20px;
}
.desktopSearch{
	display: none !important;
}

@media (min-width: 768px){
	.mobileSearch{
		display: none !important;
	}
	.desktopSearch{
		display: block !important;
	}
}

.searchBarExpand {
	width: 38px !important;
	background-color: rgba(255,255,255,0) !important;
	-webkit-transition: width 0.4s ease-in-out, padding 0.4s ease-in-out, background-color 0.1s ease-in-out;
	-moz-transition: width 0.4s ease-in-out, padding 0.4s ease-in-out, background-color 0.1s ease-in-out;
    transition: width 0.4s ease-in-out, padding 0.4s ease-in-out, background-color 0.1s ease-in-out;
	padding: 6px 0px;
	cursor: pointer;
}
.searchBarExpand:focus {
	padding-right: 20px;
	width: 100% !important;
	background-color: rgba(255,255,255,0.1)  !important;
	cursor: text;
}

.searchBarStyle {
	border: none;
	color: white;
	background-color: rgba(255,255,255,0.1);
	padding: 6px 0px;
	padding-left: 38px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-radius: 0px;
	caret-color: white;
}

.searchBarStyle::placeholder{
    color: white;
	opacity: 0.7;
    color: rgba(255,255,255,0.7);
}
.searchBarStyle:-ms-input-placeholder {
	color: white;
	opacity: 0.7;
    color: rgba(255,255,255,0.7);
}
.searchBarStyle::-ms-input-placeholder {
	color: white;
	opacity: 0.7;
    color: rgba(255,255,255,0.7);
}

/* Search icon */

.left-inner-addon {
	color: rgba(255,255,255,0.7);
}
.left-inner-addon:hover{
	color:white;
}

.left-inner-addon i {
	z-index: 4;
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

/*** MAIN CONTENT STYLES ***/

.mainContent {
	background-color: white;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
	-moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
}

/*** FOOTER ***/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
	text-align: center;
	margin-bottom: 1em;
	height: 100px;
}


/******************************************************/
/******************** JESUS CHRIST ********************/
/******************************************************/




.modal {
    color: #000;
    font-size: 11pt;
}

.modal-content a {
    color: #33F;
    font-weight: bold;
}

h1 {
    font-weight: normal;
    color: #222;
    margin-top: 0;
    font-size: 2.2em;
}

h1 small {
    color: #444;
    margin-left: 20px;
    font-size: 0.6em;
}

h2 {
    font-weight: normal;
    font-size: 1.6em;
    color: #444;
}

h2 small {
    color: #777;
    margin-left: 5px;
    font-size: 0.6em;
}

h3 {
    font-weight: bold;
    font-size: 1.1em;
    color: #222;
    line-height: inherit;
}

p, ul {
    text-align: justify;
    line-height: 1.5em;
    margin: 10px 0;
    padding: 0;
}

ul ul {
    margin-left: 20px;
}

ul {
    padding-left: 1.5em;
    list-style: square;
}

img {
    vertical-align: middle;
}


.center-status {
    font-size: 10pt;
    font-weight: bold;
    color: green;
}

.menu {
    list-style: none;
    margin-top: 10px;
    display: inline-block;
}

.menu li {
    display: inline-block;
    padding: 0 10px;
    height: 25px;
    padding-top: 5px;
    border: 1px solid transparent;
}
.menu li.current {
    background: #FFF;
    border: 1px solid #DDD;
    border-bottom: none;
}

* {
    outline: 0;
}

ul.games,
ul.games-winners {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
}

ul.games li,
ul.games-winners li {
    display: inline-block;
}


ul.games li a {
    color: #CCC;
    text-decoration: none;
    display: block;
    width: 128px;
    background: #EEE;
}

ul.games li a span {
    white-space: nowrap;
    width: 100%;
    display: block;
    overflow: hidden;
}

ul.games.mini li a {
    padding: 5px;
    width: 64px;
}

ul.games li img {
    margin-bottom: 10px;
    opacity: 0.7;
    width: 128px;
    height: 128px;
}

ul.games.mini li img {
    width: 64px;
    height: 64px;
}

ul.games li a:hover img {
    opacity: 1;
}

ul.games-winners {
    text-align: center;
}

ul.games-winners li {
    position: relative;
    width: 128px;
    height: 128px;
}

ul.games-winners li img,
ul.games-winners li .star {
    position: absolute;
    top: 0;
    left: 0;
    width: 128px;
    height: 128px;
}

ul.games-winners li .star {
    background-position: center center;
    background-repeat: no-repeat;
}

ul.games-winners li.place-1 .star { background-image: url("../gfx/stars/gold-128.png"); }
ul.games-winners li.place-2 .star { background-image: url("../gfx/stars/silver-128.png"); }
ul.games-winners li.place-3 .star { background-image: url("../gfx/stars/bronze-128.png"); }

ol.steps {
    font-size: 18pt;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

ol.steps li a span {
    position: absolute;
    left: 0.2em;
    margin-top: -0.25em;
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0.25);
}

ol.steps li a {
    position: relative;
    width: 70%;
    color: #666;
    display: block;
    padding: 10px;
    padding-left: 40px;
    margin: 5px auto;
    border: 1px solid #DDD;
    background: #EEE;
    border-radius: 4px;
}

ol.steps li a:hover {
    /*color: #999;
    background: #F6F6F6;
    border-color: #EEE;*/
    text-decoration: none;
}

ol.steps li small {
    vertical-align: middle;
    margin-left: 10px;
    font-size: 0.5em;
    opacity: 0.7;
}

table.details {
    border-collapse: collapse;
}

table.details th,
table.details td {
    padding: 4px 8px;
    vertical-align: top;
}

table.details th {
    text-align: right;
    color: #777;
    font-weight: normal;
}

table.details tr:nth-child(2n+1) {
    background: #EEE;
}
table.details {
    border: 1px solid #EEE;
    border-width: 2px 0;
}

ul.screenshots {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.screenshots li {
    display: inline-block;
    margin-bottom: 5px;
}

ul.screenshots li img {
    height: 100px;
}

.toolbox {
    text-align: center;
    line-height: 2.4em;
}

.toolbox .btn {
    width: 60%;
}

ul.comments {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.comments li {
    min-height: 32px;
    padding-bottom: 15px;
    margin: 0;
    position: relative;
}

ul.comments li .icon {
    padding: 0;
    margin: 0;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 4px;
    left: 0;
}

ul.comments li .meta {
    font-size: 0.9em;
}

ul.comments li .meta,
ul.comments li .text {
    margin-left: 38px;
}

ul.comments li .meta,
ul.comments li .meta a {
    color: #AAA;
}

.markdown p:first-child {
    margin-top: 0;
}

.markdown p:last-child {
    margin-bottom: 0;
}

textarea.comment {
    display: block;
    width: 90%;
    margin: auto;
}

label {
    font-size: 0.9em;
}

form.block .field > label {
    width: 100px;
    display: inherit;
    text-align: right;
    margin-right: 10px;
    color: #a64848;
    vertical-align: top;
    margin-top: 7px;
}

form.block .field > label.normal {
    width: auto;
    text-align: left;
    margin: 0;
}

form.compact .field {
    margin-bottom: 0px !important;
}

p.form-buttons {
    text-align: center;
}

form {
	display: inherit;
    margin: 0;
}

form.block .field {
    margin-bottom: 10px;
}

form.block .field .form-info {
    margin-left: 113px;
    font-size: 0.8em;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 0;
    color: #888;
}

form.block .form-info {
    margin-top: 4px;
}

table.teams {
    border-collapse: collapse;
    border: 1px solid #444;
}

table.teams th,
table.teams td {
    padding: 8px 12px;
    background: #222;
    border: 1px solid #444;
    border-width: 1px 0;
}

table.teams th {
    background: #111;
    text-align: left;
}

#map_canvas {
    width: 100%;
    height: 600px;
    background: #333;
}

.devlog-post {
    border: 1px solid #444;
}

.devlog-post .title {
    background: #222;
    padding: 10px;
    font-size: 1.3em;
    font-weight: bold;
}

.devlog-post .title .number {
    color: #777;
    font-size: 0.8em;
}

.devlog-post .content {
    border: 1px solid #444;
    border-width: 1px 0;
    background: #111;
    padding: 10px;
}

.devlog-post .meta {
    background: #222;
    padding: 10px;
}

.devlog-post .content h1,
.devlog-post .content h2,
.devlog-post .content h3 {
    font-weight: bold;
    color: #FFF;
    background: none;
    margin: 5px 0;
    padding: 0;
}

.devlog-post .content h1 {
    font-size: 2em;
    color: #666;
    font-weight: normal;
}

.devlog-post .content h2 {
    font-size: 1.4em;
}

.devlog-post .content h3 {
    font-size: 1em;
}

.devlog-post .content hr {
    border: none;
    border-bottom: 2px solid #333;
}

.devlog-post .content img {
    max-width: 90%;
    display: block;
    margin: 10px auto;
}

.tabular {
    border-collapse: collapse;
}

table.full {
    width: 100%;
}

.tabular td,
.tabular th {
    text-align: left;
    padding: 8px 12px;
}

.tabular.small td,
.tabular.small th {
    padding: 4px;
}

.tabular tr {
    border: 1px solid #CCC;
}

.tabular th {
    background: #DDD;
}

.tabular td {
    background: #F6F6F6;
}

.sorters th {
    cursor: pointer;
    white-space: nowrap;
}

.sorters th:after {
    content: " ";
    display: inline-block;
    width: 10px;
    margin-left: 5px;
}

.sorters th.asc:after {
    content: "▴";
    content: "˄";
    content: "▲";
}
.sorters th.desc:after {
    content: "▾";
    content: "˅";
    content: "▼ ";
}

span.icon-16 {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-position: center center;
    background-repeat: no-repeat;
    vertical-align: middle;
}

span.icon-16-fun        { background-image: url("../gfx/icons/fun.png"); }
span.icon-16-gameplay   { background-image: url("../gfx/icons/gameplay.png"); }
span.icon-16-graphics   { background-image: url("../gfx/icons/graphics.png"); }
span.icon-16-audio      { background-image: url("../gfx/icons/audio.png"); }
span.icon-16-innovation { background-image: url("../gfx/icons/innovation.png"); }
span.icon-16-story      { background-image: url("../gfx/icons/story.png"); }
span.icon-16-technical  { background-image: url("../gfx/icons/technical.png"); }
span.icon-16-controls   { background-image: url("../gfx/icons/controls.png"); }
span.icon-16-overall    { background-image: url("../gfx/icons/overall.png"); }
span.icon-16-average    { background-image: url("../gfx/icons/average.png"); }
span.icon-16-humor      { background-image: url("../gfx/icons/fun.png"); }

#recaptcha_widget_div, #recaptcha-area {
    width: 450px;
    display: inline-block;
}

.form-errors label {
    display: inline !important;
}
.alert.mini {
    padding: 0 3px;
    margin: 3px 0;
}

.theme:after  { content: "»"; margin-left:  1px; }
.theme:before { content: "«"; margin-right: 1px;}


.step-slider {
    display: inline-block;
    margin: 0 20px;
    vertical-align: 1px;
}

.rating th, .rating td {
    vertical-align: middle;
}

.rating .overall th,
.rating .overall td,
.rating .overall label {
    background: #9F9;
    font-weight: bold;
    font-size: 12pt;
}
.rating th {
    padding-top: 10px !important;
}

.rating input {
    margin-bottom: 0;
}

.step-slider-step {
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url("../gfx/rating.png") left bottom;
    font-size: 0;
    margin: 0;
    margin-right: 8px;
    cursor: pointer;
    opacity: 1;

    transition:
        background-position 0.5s ease-in-out,
        opacity 0.3s ease-in-out
}

.disabled .step-slider-step {
    opacity: 0;
}

.step-slider-step.on {
    background-position: left top;
}

.map-user img {
    float: left;
}

.map-user .info {
    vertical-align: top;
    min-height: 64px;
    margin-left: 74px;
    padding-right: 20px;
    overflow: hidden;
}

.map-user .info p {
    margin: 0 !important;
    padding: 0 !important;
    line-height: inherit !important;
}

.ability-extra {
    font-size: 0.9em;
    color: #999;
}

/*.user.admin .username:after {
    content: " A";
    color: red;
    font-weight: bold;
}*/

.user,
.location {
    white-space: nowrap;
}

.user .name,
.location .city {
    display: inline-block;
    white-space: normal;
    vertical-align: top;
}

.user .real {
    color: #AAA;
    text-decoration: none;
}

a.user:hover {
    text-decoration: none;
}

.user.deleted {
    color: #A33 !important;
    font-size: 0.9em !important;
    font-weight: bold;
}


.table, td, tr, th, thead, tfoot, tbody {
    border-radius: 0 !important;
}

.table thead tr > * {
    background: #EEE;
}

.team-users {
    list-style: none;
}
.team-users {
    list-style: none;
    margin: 0;
    background: #F8F8F8;
}

.team-users li:nth-child(2n) {
    background: #EEE;
}

.team-users li .avatar {
    float: left;
}

.cheated {
    background: #FF0000;
}

tr.deleted .score{
    text-decoration: line-through;
}








