@import url("bootstrap.min.css");

/*** COLORS ***/
/* Beige: 		#eccb84 */
/* Red:  		#da5f5f	*/
/* Dark Red:  	#a64848	*/
/* Link Red: 	#bc312c */
/* Grey: 		#555555 */

/*** SHADOWS ***/
/*	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);	*/


/******************************************************/
/******************** MAIN STYLES *********************/
/******************************************************/

/*** RESET ***/

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*** BASELINE STYLING ***/

body {
	position: relative;
    color: #555;
    background-color: #eccb84;
    font-family: "DejaVu Sans", Arial, sans-serif;
    margin: 0;
    padding: 0;
	padding-bottom: 200px;
	min-height: 100%;
}



a, a:visited{
    color: #bc312c;
    text-decoration: none;
}

a:hover, a:active, a:focus {
    color: #a64848;
    text-decoration: underline;
}

/*** HEADER ***/

.titlebar-bgj {
	background-color: #da5f5f;
	color: white;
}

.nav>li>a{
	padding: 10px !important;
}

.header-container-inner{
	height: 100%;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

/* Site logo */

.navbar-brand {
	padding: 0;
	height: 60px;
}

.navbar-brand-mobile {
	display:block;
}

.navbar-brand-desktop {
	display:none;
}

@media (min-width: 768px){
	.navbar-brand-mobile{
		display:none;
	}
	.navbar-brand-desktop {
		display:block;
	}
}

/* Navbar jam countdown */

.current-jam-info{
	float: left;
}

.navbar-countdown {
	display:none;
	height: 100%;
	flex-grow: 1;
}

@media (min-width: 992px){
	.navbar-countdown{
		display: inline-block!important;
		height: 100%;
		flex-grow: 1;
	}
}

.current-jam-clock{
	float: left;
}

.timeSubtitle{
	color: rgba(255,255,255,0.5);
	font-size: 0.5em;
}
.timeWithSubtitle{
	float: left;
	text-align: center;
	background-color: rgba(255,255,255,0.2);
	margin: 0 0.2em;
    padding: 0.4em;
}

.btn-participate, .btn-participate:visited {
	text-transform: uppercase;
	border-radius: 0px;
	background-color: #5cb85c !important;
	border: 1px solid #449d44;
	color: white;
	transition: background-color 0.1s ease-in-out;
	padding: 10px;
}

.btn-participate:hover, .btn-participate:active, .btn-participate:focus {
	background-color: #449d44 !important;
	border: 1px solid #398439;
	box-shadow: none !important;
}

/* Navbar account buttons */

.navbar-account{
	display:inherit;
	float: right !important;
}


/*** NAVIGATION ***/

/* Search bar */

.mobileSearch{
	display: block !important;
	padding: 20px;
}
.desktopSearch{
	display: none !important;
}

@media (min-width: 768px){
	.mobileSearch{
		display: none !important;
	}
	.desktopSearch{
		display: block !important;
	}
}

.searchBarExpand {
	width: 38px !important;
	background-color: rgba(255,255,255,0) !important;
	-webkit-transition: width 0.4s ease-in-out, padding 0.4s ease-in-out, background-color 0.4s ease-in-out;
    transition: width 0.4s ease-in-out, padding 0.4s ease-in-out, background-color 0.4s ease-in-out;
	padding: 6px 0px;
	cursor: pointer;
}
.searchBarExpand:focus {
	padding-right: 20px;
	width: 100% !important;
	background-color: rgba(255,255,255,0.1)  !important;
	cursor: text;
}

.searchBarStyle {
	border: none;
	color: white;
	background-color: rgba(255,255,255,0.1);
	padding: 6px 0px;
	padding-left: 38px;
	box-shadow: none;
	border-radius: 0px;
	caret-color: white;
}

.searchBarStyle::placeholder{
    color: white;
	opacity: 0.7;
    color: rgba(255,255,255,0.7);
}
.searchBarStyle:-ms-input-placeholder {
	color: white;
	opacity: 0.7;
    color: rgba(255,255,255,0.7);
}
.searchBarStyle::-ms-input-placeholder {
	color: white;
	opacity: 0.7;
    color: rgba(255,255,255,0.7);
}

/* Search icon */

.left-inner-addon {
	color: rgba(255,255,255,0.7);
}
.left-inner-addon:hover{
	color:white;
}

.left-inner-addon i {
	z-index: 4;
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

/*** MAIN CONTENT STYLES ***/


/*** FOOTER ***/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
	text-align: center;
	margin-bottom: 1em;
	height: 100px;
}








.navMenu {
	text-transform: uppercase;
	background-color: #a64848;
	color: white;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
	margin-bottom: 20px;
}

.navMenu a {
	color: rgba(255,255,255,0.7);
}
.navMenu a:hover, .navMenu a:visited, .navMenu a:active, .navMenu a:focus {
	color: white;
	background-color: transparent !important;
	border-radius: 0px;
	box-shadow: none !important;
}

.navbar-collapse {
	border: none !important;
	box-shadow: none !important;
	padding-right: 0px;
	padding-left: 0px;
}
.navbar-form {
	margin-top: 4px !important;
	margin-bottom: 0px !important;
	
	padding: 0px !important;
	border: none !important;
	box-shadow: none !important;
}
.mainContent {
	background-color: white;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
}

.btn-login, .btn-login:visited {
	text-transform: uppercase;
	border-radius: 0px;
	color: white;
	border: 1px solid white;
	background-color: transparent !important;
	transition: background-color 0.1s;
	margin-right: 1em;
}

.btn-login:hover, .btn-login:active, .btn-login:focus{
	background-color: white !important;
	color: #a64848;
	box-shadow: none !important;
}

.btn-register, .btn-register:visited {
	text-transform: uppercase;
	border-radius: 0px;
	background-color: white !important;
	color: #a64848;
	transition: background-color 0.1s;
}

.btn-register:hover, .btn-register:active, .btn-register:focus {
	color: white;
	border: 1px solid white;
	background-color: transparent !important;
	box-shadow: none !important;
}

.navbar-nav>li>a {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.navbar-nav{
	margin: auto;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100% !important;
  padding: 5px;
  width: auto;
}